@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  /* background-color: #ffffff; */
  background-image: linear-gradient(60deg, #eff4f2 0%, #f4f4eb 100%);
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container1 {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #00ff59;
  position: relative;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1); 
  /* background-color: #333; */
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.logo {
    color:green;
    font-size:10px;

  }
/* .logo {
} */

.menu-icon {
  display: none;
  color:black;
}

/* .nav-elements {
} */

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 50px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #000000;
  font-weight: 900;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}


#he{
    text-align: center;
}