.footer {
    background-color: #000000;
    color: #fff;
    height:250px;
    padding: 20px 0;
    text-align: center;
    margin-top:200px;
    margin-bottom:-30px;
    width: 208.2vh; 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer h2 {
    margin-bottom: 10px;
  }
  
  .footer p {
    margin: 0;
  }
  .content{
    margin-top:200px;
  }